<table class="table table-light table-bordered" style="width: 40%">
    <thead class="thead-dark">
   <tr>
       <th colspan="9" style="text-align: center;">Donors</th>
     </tr>
     <tr>
       <th scope="col">Type</th>
       <th scope="col">O-</th>
       <th scope="col">O+</th>
       <th scope="col">B-</th>
       <th scope="col">B+</th>
       <th scope="col">A-</th>
       <th scope="col">A+</th>
       <th scope="col">AB-</th>
       <th scope="col">AB+</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th scope="row">AB+</th>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
     </tr>
     <tr>
       <th scope="row">AB-</th>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
     </tr>
     <tr>
       <th scope="row">A+</th>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
     </tr>
     <tr>
       <th scope="row">A-</th>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
     </tr>
     <tr>
       <th scope="row">B+</th>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
     </tr>
     <tr>
       <th scope="row">B-</th>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
     </tr>
     <tr>
       <th scope="row">O+</th>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
     </tr>
     <tr>
       <th scope="row">O-</th>
       <td><i class="fa fa-check" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
       <td><i class="fa fa-times" aria-hidden="true"></i></td>
     </tr>
   </tbody>
 </table>