<%- include('partials/header') %>

<div class="content">
    <!-- Navbar -->
<nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/admin" style="color: #596e79"><i class="fa fa-medkit fa-1g" aria-hidden="true" style="color:#eb3f39"></i>  donation<b>Hub</b></a>
    <div>
        <a href="/logout" class="btn btn-outline-danger btn-sm" role="button"><b>Logout</b></a>
    </div>
  </nav>
<hr>
    <div class="container">
        <p class="lead"><b>Users who are compatible to donate to<span style="color: red"> undefind</span></b><p>
  <div id="users-list">
    <table class="table table-sm">
        <thead class="thead-dark">
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Date Joined</th>
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Username</th>
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Email</th>
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Address, City</th>
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Blood group</th>
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Total requests/donations</th>
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Send message via</th>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
</div>


</div>

<%- include('partials/footer') %>