<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>DonHUB</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="https://www.shareicon.net/data/256x256/2016/08/04/806609_medical_512x512.png" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <style>
    #register-button:hover {
      color: black;
    }
  </style>
</head>

<body>

<div class="jumbotron centered">
    <div class="container">
      <i class="fa fa-medkit fa-6x" aria-hidden="true" style="color:#eb3f39"></i>
      <h1 class="display-4">Donation<b>Hub</b></h1>
      <p class="lead">Donate blood, save life!</p>
      <hr>
      <a class="btn btn-light btn-lg" id="register-button" href="/register" role="button" style="">Register</a>
      <a class="btn btn-outline-danger btn-lg" id="login-button" href="/login" role="button">Login</a>
  
    </div>
  </div>


<footer class="page-footer font-small blue footer">
  <div class="footer-copyright text-center py-3">
    made with <i class="fa fa-heart fa-1g" style="color: red" aria-hidden="true"></i> by Mazhar Ali
  </div>
</footer>