* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.footer {
  background-color:#d4d4d4;
  padding-top: 4%;
}

#notification-icon {
  color: #204051;
  transition:0.3s;
}
#notification-icon:hover {
  color: red;
  transition:0.3s;
}

.request-form {
  position: absolute;
  width:100%;
}

/* request form modal   */

.form-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.form-modal-content {
  width: 60%;
  height: 80%;
  background-color: white;
  opacity: 1;
  border-radius: 2%;
  text-align: center;
  padding:2%
}

/* password reset form modal */

.reset-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.reset-modal-content {
  width: 40%;
  height: 35%;
  background-color: white;
  opacity: 1;
  border-radius: 2%;
  text-align: center;
  padding:2%
}