* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.footer {
  background-color:#d4d4d4;
  padding-top: 4%;
}

#notification-icon {
  color: #204051;
  transition:0.3s;
}
#notification-icon:hover {
  color: red;
  transition:0.3s;
}

/* update form modal   */

.update-form-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.form-modal-content {
  width: 60%;
  height: 55%;
  background-color: white;
  opacity: 1;
  border-radius: 2%;
  padding:2%
}

/* admin update form modal */

.admin-update-form-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.admin-form-modal-content {
  width: 60%;
  height: 55%;
  background-color: white;
  opacity: 1;
  border-radius: 2%;
  padding:2%
}

/* password reset form modal */

.reset-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.reset-modal-content {
  width: 40%;
  height: 30%;
  background-color: white;
  opacity: 1;
  border-radius: 2%;
  text-align: center;
  padding:2%
}


/* request form modal */

.request-form-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.request-modal-content {
  width: 40%;
  height: 40%;
  background-color: white;
  opacity: 1;
  border-radius: 2%;
  text-align: left;
  padding:3%
}

/* hospital name form modal */

.hospital-name-form-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.hospital-form-modal-content {
  width: 35%;
  height: 20%;
  background-color: white;
  opacity: 1;
  border-radius: 2%;
  text-align: left;
  padding-top: 3%;
  display: flex;
  justify-content: center;
}
/* customize users list */
#users-list {
  height: 200px;
  overflow: auto;
}