* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.footer {
  background-color:#d4d4d4;
  padding-top: 4%;
}

#notification-icon {
  color: #204051;
  transition:0.3s;
}
#notification-icon:hover {
  color: red;
  transition:0.3s;
}

.request-form {
  position: absolute;
  background-color: #ffffff;
}